.page-header {
  padding-top: 37px;
  width: 100%;
}

.page-header__title {
  font-family: 'Playfair Display', 'Georgia', serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  text-align: center;
}
